.Login-background {
    background-image: url(../public/Login-bg-image.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.Dashboard-cardOne-background {
    background-image: url(../public/Dashboard-cardOne-bg-image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.Dashboard-cardTwo-background {
    background-image: url(../public/Dashboard-cardTwo-bg-image.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}